/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Courier New';
  background-color: #758182;
}

#error {
  color: red;
}

#navigation-bar {
  margin-bottom: 50px;
}

#navigation-bar li {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#signin {
  float: right;
  list-style-type: none;
}

#signout {
  float: right;
  list-style-type: none;
}

#logo {
  font-size: 20px;
  font-weight: 'bold';
}

#login-form {
  text-align: center;
  margin: 100px;
  border: 10px solid;
  border-radius: 10px;
  border-color: #636AF2;
  padding: 10px;
  width: 45%;
  left: 18%;
  position: fixed;
  background-color: #A7C1D9;
}