body {
  font-family: 'Courier New';
  background-color: #758182;
}

#error {
  color: red;
}

#navigation-bar {
  margin-bottom: 50px;
}

#navigation-bar li {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#signin {
  float: right;
  list-style-type: none;
}

#signout {
  float: right;
  list-style-type: none;
}

#logo {
  font-size: 20px;
  font-weight: 'bold';
}

#login-form {
  text-align: center;
  margin: 100px;
  border: 10px solid;
  border-radius: 10px;
  border-color: #636AF2;
  padding: 10px;
  width: 45%;
  left: 18%;
  background-color: #A7C1D9;
}

#button {
  font-family: 'Courier New';
  font-size: 15px;
  background-color: #5F7317;
  margin: 10px;
}

input[type="text"] {
  font-family: 'Courier New';
  font-size: 15px;
}

textarea {
  font-family: 'Courier New';
  font-size: 15px;
}

#show-post {
  text-align: center;
  margin: 100px;
  border: 10px solid;
  border-radius: 10px;
  border-color: #636AF2;
  padding: 10px;
  background-color: #A7C1D9;
  vertical-align: top;
}

#back-to-posts {
  background-color: #5F7317;
  color: white;
  width: 10%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#back-to-posts a {
  text-decoration: none;
  color: white;
}

#show-post input {
  width: 20%;
}

.post li {
  list-style-type: none;
}

.post {
  text-align: center;
  margin: 100px 200px 100px 200px;
  /*margin: 10% 20% 10% 20%;*/
  border: 10px solid;
  border-radius: 10px;
  border-color: #636AF2;
  padding: 10px;
  background-color: #A7C1D9;
  vertical-align: top;
}

.post a {
  text-decoration: none;
  color: white;
}

#separator {
  text-align: center;
  margin: 100px 200px 100px 200px;
  border: 10px solid;
  border-radius: 10px;
  border-color: #636AF2;
  padding: 10px;
  background-color: #5F7317;
  vertical-align: top;
}

#map {
  border: 10px solid;
  border-radius: 10px;
  border-color: #636AF2;
  /*transform: inherit !important;*/
}

#map-container {
  margin: auto;
  /*position: static;*/
  top: 0;
  /*transform: inherit !important;*/
  width: 60%;
}