<%= render partial: "studio_info", layout: false, locals: {studio: @studio} %>

  <div id="map" style='width: 800px; height: 400px;'></div>



<div id='separator'> Reviews for <%= @studio.name %> </div>

<%= render partial: "./posts/post_list", layout: false, object: @posts %>